/* RESET CSS */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile titolo grande H1 */
h1 {
    text-align: center;
    font-size: 24px;
}

/* 
  Flex box su classe container 
  
  Stile per il contenitore 1
*/
.container-1 { 
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 8px;

    background-color: cornflowerblue;
    padding: 20px;

    margin-bottom: 20px;

    height: 200px;
}

/*
    Stile per il contenitore 2
*/
.container-2 {
    display: flex;

    flex-direction: column;

    justify-content: start;
    align-items: center;

    gap: 8px;

    background-color: cornflowerblue;
    padding: 20px;

    height: 600px;

    margin-bottom: 20px;
}

/*
   Stile per il contenitore 3
*/
.container-3 {
    display: flex;

    flex-wrap: wrap;
    align-content: center;

    gap: 10px;

    justify-content: center;

    background-color: cornflowerblue;
    padding: 20px;

    height: 400px;

    margin-bottom: 20px;
}

/* Inline flex */
.container-4 {
    display: inline-flex;
    gap: 10px;

    background-color: cornflowerblue;
    padding: 20px;
}

.container-4 .card {
    width: 50px;
    height: 50px;
}

/* Stile card */
.card {
    background-color: orange;

    padding: 5px;
    border-radius: 8px;

    width: 80px;
    height: 80px;

    /* 
       Attenzione, qua uso flexbox sul
       contenuto delle singole card per
       centrare il contenuto 
    */
    display: flex;
    justify-content: center;
    align-items: center;
}