/* --------------------------
   RESET CSS 
   --------------------------
*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------------------------
    IMPOSTAZIONI HTML
  ---------------------------
*/
html {
    scroll-behavior: smooth;
}

/*---------------------------
    IMPOSTAZIONI BODY
  ---------------------------
*/
body {
    font-family: "Roboto", sans-serif;

    font-size: 16px;
    line-height: 1.5;
}

/* --------------------------
   IMPOSTAZIONI HEADER 
   --------------------------
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}

header .menu ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

/* --------------------------
   IMPOSTAZIONI FOOTER 
   --------------------------
*/
footer {
    text-align: center;
    padding: 20px;
}

/* --------------------------
   HERO BANNER 
   --------------------------
*/
.hero-banner {
    background-color: #f37121;

    height: 300px;
    width: 100%;
    
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner .inner-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}

/* --------------------------
   CONTAINER FLEX 
   --------------------------
*/
.container {
    display: flex;    
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.container .inner-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box {
    text-align: center;
    align-content: center;

    border: 2px solid #003e70;
    border-width: 0 0 0 8px;

    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    padding: 20px;
    height: 160px;
}

/* --------------------------
   GALLERIA IMMAGINI
   --------------------------
*/
.custom-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
    gap: 5px;
}

.custom-gallery .gallery-image {
    background-color: orange;
    padding: 0px;
    border: 1px solid lightgray;
    position: relative;
    overflow: hidden;
}

.custom-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1);
    transition: 1s all;
}

.custom-gallery .title-image {
    background: #00000094;
    position: absolute;

    bottom: 0;

    left: 0;
    right: 0;

    padding: 10px;

    color: #fff;
    font-size: 22px;
    align-content: center;

    opacity: 0;

    transform: translateY(40px);
    transition: 1s all;
}

.custom-gallery .gallery-image:hover .title-image {
    transform: translateY(0px);
    opacity: 1;
}

.custom-gallery .gallery-image:hover img {
    transform: scale(1.2);
}

/* --------------------------
   PULSANTI  
   --------------------------
*/
.btn {
    display: block;
    width: max-content;

    background-color: #003e70;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    transition: 2000ms all;
}

.btn:hover {
    background-color: #267dc4;
}

/* --------------------------
   GRIGLIA  
   --------------------------
*/
.servizi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servizi .cell {
    border: 1px solid black;
}

.servizi .colonna {
    font-weight: bold;
}

/* --------------------------
   BLOG  
   --------------------------
*/
.blog-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 15px;
    gap: 15px;
}

.blog-section .article {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
}

.blog-section .article .btn {
    margin-top: 10px;
}

.blog-section .article p::first-letter {
    font-size: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;

    color: rgb(150, 11, 11);
    background-color: #b3764e;
    padding: 4px;
    border-radius: 4px;
}

/* --------------------------
   FORM  
   --------------------------
*/
form label {
    display: block;
    width: 100%;
    text-align: left;
}

form label::after {
    content: " *";
    color: red;
}

form input, form textarea, form select {
    width: 100%;
    display: block;
    padding: 6px 4px;
    border-radius: 4px;
    border: 1px solid black;
}

form .form-row {
    margin-bottom: 10px;
}

form input[type="submit"] {
    width: 100%;
}

/* --------------------------
   OTTIMIZZAZIONE MOBILE
   --------------------------
*/
@media (min-width: 550px) {
    .custom-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Dal tablet in poi */
@media (min-width: 768px) {
    .custom-gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px;
    }

    .custom-gallery .right-big-image {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
    }

    .custom-gallery .left-big-image {
        grid-row: 3 / 5;
    }

    .container .inner-content {
        justify-content: center;
        flex-direction: row;
    }

    .box {
        min-width: 220px;
        min-height: 220px;

        max-width: 220px;
        max-height: 220px;

        padding: 15px;
    }

    form {
        width: 600px;
    }

    .servizi {
        width: 600px;
    }
}

/* Laptop in su */
@media (min-width: 1024px) {

}

/* Dal desktop in su */
@media (min-width: 1280px) {

}