/* --------------------------
   RESET CSS 
   --------------------------
*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/*---------------------------
    IMPOSTAZIONI BODY
  ---------------------------
*/
body {
    font-family: "Roboto", sans-serif;

    font-size: 16px;
    line-height: 1.5;
}

/* --------------------------
   IMPOSTAZIONI HEADER 
   --------------------------
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

/* --------------------------
   IMPOSTAZIONI FOOTER 
   --------------------------
*/
footer {
    text-align: center;
    padding: 20px;
}

/* --------------------------
   HERO BANNER 
   --------------------------
*/
.hero-banner {
    background-color: #f37121;

    height: 300px;
    width: 100%;
    
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner .inner-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}

/* --------------------------
   CONTAINER FLEX 
   --------------------------
*/
.container {
    display: flex;    
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.container .inner-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box {
    text-align: center;
    align-content: center;

    border: 2px solid #003e70;
    border-width: 0 0 0 8px;

    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    padding: 20px;
    height: 160px;
}

/* --------------------------
   PULSANTI  
   --------------------------
*/
.btn {
    background-color: #003e70;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    transition: 2000ms all;
}

.btn:hover {
    background-color: #267dc4;
}

/* --------------------------
   GRIGLIA  
   --------------------------
*/
.servizi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servizi .cell {
    border: 1px solid black;
}

.servizi .colonna {
    font-weight: bold;
}

/* --------------------------
   OTTIMIZZAZIONE MOBILE
   --------------------------
*/
/* Dal tablet in poi */
@media (min-width: 768px) {
    .container .inner-content {
        justify-content: center;
        flex-direction: row;
    }

    .box {
        min-width: 280px;
        min-height: 280px;

        max-width: 280px;
        max-height: 280px;
    }
}

/* Laptop in su */
@media (min-width: 1024px) {

}

/* Dal desktop in su */
@media (min-width: 1280px) {

}